*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/google-java-format.xml
app/libs/
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/
.idea/inspectionProfiles/
